[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
keras = ">=2.0.0"
flask = "*"
flask-cors = "*"
future = "*"
h5py = "*"
tensorflow = "*"
six = "*"
gomill = "*"

[dev-packages]

[requires]
python_version = "3.10"
